#header {
    max-width: 100%;
    height: auto;
    
}
#header #btn-div {
    margin-top: 10px;
}
#header button.float-rsm {
    align-self: flex-end;
    float: right;
}

#header #btn-div button.btn {
    font-size: .8em;
    background: #000000;
    border-radius: 0%;
    color: white;
}

#header #btn-div button i {
    margin-left: 5px;
}

@media (max-width: 767px) {
    #header {
        max-width: 540px;
        height: auto;
        text-align: center;
        
    }
    #header button.float-rsm {
      float: none;
      margin-top: -10px;
      margin-bottom: 2px;
    }

    #header div.tag-name {
      margin: 0px;
      padding: 0px;
    }
  }

.clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  @media (min-width: 768px) and (max-width: 992px) {
    #header button.float-rsm {
      float: right;
    }
  }

  @media (min-width: 993px) and (max-width: 1199px){
    #header button.float-rsm {
      float: right !important;
    }
  }
  
  @media (min-width: 1200px) {
    
    #header button.float-rsm {
      float: right !important;
    }
  }