#header.container-fluid {
    width: auto;
    height: auto;
    
}
#header #btn-div {
    margin-top: 10px;
}
#header button.float-rsm {
    align-self: flex-end;
    float: right;
}

#header #btn-div button.btn {
    font-size: .8em;
    background: #000000;
    border-radius: 0%;
    color: white;
}

#header #btn-div button i {
    margin-left: 5px;
}

@media (max-width: 767px) {
    #header.container-fluid {
        width: auto;
        height: auto;
        text-align: center;
        
    }
    #header button.float-rsm {
      float: none;
    }
  }

.clearfix::after {
    display: block;
    clear: both;
    content: "";
  }

  @media (min-width: 768px) and (max-width: 992px) {
    #header.container-fluid {
        max-width: 720px;
        height: auto;
        text-align: center;
        
    }
    #header button.float-rsm {
      float: right;
    }
  }

  @media (min-width: 993px) and (max-width: 1199px){
    #header.container-fluid {
        max-width: 960px;
        height: auto;
        text-align: center;
        
    }
    #header button.float-rsm {
      float: right !important;
    }
  }
  
  @media (min-width: 1200px) {
    #header.container-fluid {
        max-width: 1140px;
        height: auto;
        text-align: center;
        
    }
    #header button.float-rsm {
      float: right !important;
    }
  }