.navbar-logo {
    width: 40px;
    height: 40px;
}

.btn-social-icon {
    margin: 2px;
}

/**** place the social buttons in the center of navbar ****/
@media only screen and (max-width: 992px) {
    button.navbar-toggler {
        order: 1;
    }
    .navbar-nav.right-ul-nav {
        display: inline;
        order: 0;
        margin-right: 0;
    }

    .navbar-nav.right-ul-nav .nav-item {
        position: relative;
        display: inline-flex;
    }

    ul.navbar-nav li.nav-item > a.nav-link {
        font-size: .9em !important;
    }
}